{% extends 'site.html' %}
{% block content %}


{% if Results == "bad": %}
  <div class="f4 avenir">
You are not allowed to do that.
</div>
{% elif Results: %}

# display results nicely
{{ Results }}

{% else %}
<div class="pa3">
  <div class="f4 avenir">
    <table>

<form id="add" name="form-style" method="post" action="/admin">
  <div><tr><th></th><th></th>
  <tr> <td>Title</td>
  <td>  <input name="title" id="title" type="text"> </input></td></tr>
  </div>
  <div>
  <tr> <td>  Link</td>
  <td> <input name="link" id="link" type="text"> </input></td></tr>
  </div>
  <div>
  <tr> <td>  Auth</td>
  <td>  <input name="auth" id="auth" type="text"> </input></td></tr>
  </div>
  <div>
    <tr><td><button id="butts">Submit</button></td></tr>
  </div>
</form>
</table>
</div><br>

{% endif %}
{% endblock %}
